@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

h1 {
    font-size: 3rem;
}

.home-image{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.display-4-custom {
    color: white;
    font-size: 3rem;
    font-style: italic;
    letter-spacing: 1rem;
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
}


h2 {
    line-height: 3rem;
    font-size: 1rem;
    color: #1d2124 !important;
}

.h1-contain {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: -50px;
}

.h2-contain {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 3rem 4rem;
    border-radius: 1.5rem;
    background: #ffffff;
}


body {
    background: #242528;
}

#main-contain {
    justify-content: center;
    background: #242528;
    padding: 20px 100px 50px 100px !important;
}

.signin-logo {
    height: 10rem;
}

#btnrecipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
}

.button-separator{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-grow: 1;
    margin-top: 15px;
    margin-left: 70px;
    margin-right: 25px;
}

.form-signin{
    max-width: 500px;
}

#signin-container{
    background-image: url("/assets/rainbow-produce.jpg"),linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255,.5));


    background-size: cover;


}

.signin-container{
    background-image: url("/assets/rainbow-produce.jpg"),linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255,.5));


    background-size: cover;


}